.navbar {
    background-color: var(--bg-color-1);
    border-bottom: 1px solid var(--color-action);
}

.logo {
    color: #fff;
    font-family: var(--font-family-1);
    margin-right: 40px;
    font-size: 22px;
}
.link {
    color: #fff;
    font-family: var(--font-family-2);
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
}
.link:hover {
    color: #fff;
}

.cart {
    color: #fff;
    font-size: 1.6rem;
}
.cart-quantity {
    color: #fff;
    background-color: var(--color-action);
    font-size: 1rem;
    font-family: var(--font-family-2);
    font-weight: 700;
    border-radius: 50%;
}


.navbar-toggler .navbar-toggler-icon {
    /* Unica manera de cambiar el color del icono Toggle */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28223, 244, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-close {
    /* Unica manera de cambiar el color del icono Toggle */
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28223, 244, 255'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}